
body {
 background-color: #000000;
 color: #FFFFFF;
}
h1 {
 color: #83F759;
 text-align: center;
 font-size: 100px;
 .VT232 { font-family: VT232; } 

}
p {
 background-color: #black;
 color: #white;
 text-align: center;
 border: 0px groove #FFFF33;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: { font-family: VT232; }
  display: inline-block;
  font-size: 16px;
  margin: 100px 500px;
  cursor: pointer;
}

.button {background-color: #83F759;} /* Green */

 

s

import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



.loadingtext {
  padding: 40px;
  background-color: #121212;  
}

p  {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'VT232',;  
  font-size: 30px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
p {
  animation: animated-text 5s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

}

Resources